@use "../reset" as *;
@use "../reusable/tooltip" as *;
@use "sass:color";

.fresh-baked {
  $first-color: color.adjust(
    $color: $first-color,
    $lightness: -5%,
  );
  $second-color: color.adjust(
    $color: $second-color,
    $lightness: -5%,
  );

  margin-top: 50px;
  padding: $default-padding;
  background: linear-gradient(
        45deg,
        $root-background-color,
        $root-background-color
      )
      padding-box,
    linear-gradient(45deg, $first-color, $second-color) border-box;
  border-width: 5px;
  border-style: solid;
  border-color: transparent;
  border-radius: $border-radius-large;
  text-align: center;

  --height: 45px;

  @media (max-width: 400px) {
    --height: 60px;
  }

  &__block-label {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
  }

  &__color-preview,
  &__history-color-preview {
    border: 3px solid rgb(0, 0, 0, 0.75);
    width: var(--height);
    height: var(--height);
  }

  &__output-element {
    display: grid;
    place-items: center;
    height: var(--height);
    padding: 0 calc(var(--height) / 5);
    margin-left: calc(var(--height) / 5);
    background-color: $first-color;
    border: 2px solid black;
    border-right-width: 0;
  }

  &__clipboard-button {
    background-color: $first-color;
    border: 2px solid black;
    border-left-width: 0;
    height: var(--height);
    width: var(--height);
    display: grid;
    place-items: center;
    cursor: pointer;

    position: relative;
    --animation-name: null;
    --animation-duration: null;
    @include addTooltip($content: attr(data-tooltip), $width: 150px) {
      opacity: 0;
      animation: var(--animation-name) var(--animation-duration) ease;
    }
  }

  &__history {
    &-container {
      display: flex;
      flex-direction: column;
    }

    &-h3 {
      font-size: 1.45rem;
      margin: {
        top: 50px;
        bottom: 25px;
      }
    }

    &-table {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-table-row,
    &-table-row--header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.2em 0;
      width: 100%;
      max-width: 300px;

      &--header {
        justify-content: space-evenly;
      }
    }

    &-table-header {
      font-size: 1.2rem;
    }

    &-color-preview {
      margin-right: 1.5rem;
    }

    &-color-text {
      font-size: 1.2rem;
    }
  }
}

@keyframes fade-in-out {
  0%,
  100% {
    opacity: 0;
  }

  25%,
  75% {
    opacity: 1;
  }
}

.clipboard-svg {
  fill: whitesmoke;
}
